body {
  font-size:14pt;
  line-height:1.5em;
  font-family:"Crimson Text", "Minion Pro", Times;
  width: 32em;
  margin:4ex 0 12ex 4em;
}

em.signature {
  display:block;
  text-align:right;
}

h1 {
  line-height:1.1em;
}

div img {
  margin-top:-4ex;
}

blockquote {
  font-style:italic;
}

blockquote:before {
  content:"“";
}

blockquote:after {
  content:"”";
}

sup {
  height: 0;
  line-height: 1;
}

sup {
  bottom: 1ex;
}
blockquote em {
  font-style:normal;
}

ul {
  padding-left:0;
}

ul li {
  list-style-type: none;
}

ul.index {
  width:42em;
}
